---
import Section from "../Section.astro"

import { getI18N } from '../../pages/i18n';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

let sectionTitle = currentLocale === 'es' ? "Sobre mí" : "About me";
---

<Section title={sectionTitle}>
    <p>
      {i18n?.basics.summary}
    </p>
  </Section>

  <style>
    p{
      font-size: 1rem;
    }
  </style>