---
import Section from "../Section.astro"

import { skills } from "../../../cv.json"

import HTML from "../../icons/html.astro"
import CSS from "../../icons/css.astro"
import JavaScript from "../../icons/javascript.astro"
import TypeScript from "../../icons/type.astro"
import MySQL from "../../icons/sql.astro"
import Git from "../../icons/git.astro"
import GitHub from "../../icons/GitHub.astro"
import Tailwind from "../../icons/tailwind.astro"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  MySQL,
  Git,
  GitHub,
  Tailwind
}

---

<Section title="Skills">
    <ul>
    {
        skills.map(({ name }) => {

          const iconName = name === "Next.js" ? "Next" : name
          const Icon = SKILLS_ICONS[iconName]

          return (
            <li>
              {Icon && <Icon />}<span>{name}</span>
            </li>
          )
        })
      }
    </ul>

</Section>


<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        align-items: center;
        background: var(--background-li);
        border-radius: 6px;
        color: var(--color-li);
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    } 

    :root{
        /*Skills*/
    --background-li: #eee; /*color de las skils*/
    --color-li: black; /*color de la letra*/
    }

    :root[data-theme="dark"]{
        /*Skills*/
    --background-li: #444; /* color de las skils */
    --color-li: #fff; /* color de la letra */
    }
</style>