---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource/lora';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html{
		font-family: 'Lora', serif;
		letter-spacing: -0.025rem;
		background: var(--background-primary);
    	background-size: 16px 16px;
	}

	body,
  	figure {
    	margin: 0;
    	padding: 0;
  	}

  	a {
  	  text-decoration: none;
  	}

  	ul {
    	list-style: none;
    	margin: 0;
    	padding: 0;
  	}

	*, *::before, *::after {
    box-sizing: border-box;
  	}

  	h1, h2, h3, h4 {
    	margin: 0;
    	font-family: 'Lora', serif;
		color: var(--color-titulos);
  	}

  	p {
    	color: var(--paragraph--color);
    	font-size: 0.9rem;
    	line-height: 1.5;
    	margin: 0;
    	text-wrap: pretty;
  	}

	@media print {
    	.no-print {
      	display: none !important;
    	}

    	.print {
      		display: block !important;
    	}
  }


  :root{
    /* layout*/
    	--background-primary:radial-gradient(#e5e7eb 1px, transparent 1px); /* color primario para html */
    	--paragraph--color: #666; /* color parrafo */
	}

	:root[data-theme="dark"]{
    	/* layout*/
    	--background-primary:#212a36; /* color primario para html */
    	--paragraph--color: #ccc;/* color parrafo */
		--color-titulos: #ffdead; /*color titulos */
	}

</style>

